@import url('http://fonts.cdnfonts.com/css/sofia-pro');

.font-sofia-pro {
    font-family: 'Sofia Pro', sans-serif;
}

#header-menu-section a.active:after {
    content: ".";
    position: absolute;
    left: 0;
    right: 0;   
    display: block;    
    width: 10px;
    margin: 0 auto;
    top: 9px;
    font-size: 30px;   
}
#reviews-bg {
    background-image: url(../assets/img/reviews-bg.jpg);
    background-repeat: no-repeat;
    /* background-position: left; */
    background-size: cover;
    width: 30rem;
    height: 30rem;
    background-position: center;
    background-position: 180%;
}
#review-bg-outline, #review-bg-container {   
    width: 35rem;
    height: 35rem;
}   